<h1 class="text-center mt-5">Bienvenidos al Mercado Web, seleccione sus productos</h1>
<section class="container mt-5">
    <section class="row col-1 col-md-3">
        {{> product}}
    </section>
</section>