<h1 class="text-center mt-5">Bienvenidos al Mercado Web, seleccione sus productos</h1>
<section class="container mt-5">
    <section class="row row-col-2 row-col-md-3">
        {{> products}}
    </section>
</section>