{{#each product}}
<section class="col mb-4">
    <section class="card">
        <section class="width: 40%; display: inline-block; margin: 0 auto">
            <img src="img/{{this}}.png" class="card-img-top" alt="{{this}}">
        </section>
        <section class="card-body">
            <h5 class="class-title">{{this}}</h5>
        </section>
    </section>
</section>
{{/each}}